extends layout

block b1
  .text-center-cus 404 Error
  h1.text-center Không tìm thấy trang này
  i.material-icons.text-center.d-block.errorIcon error
  span.text-center.d-block 
    | Vui lòng trở lại 
    a(href='/') trang chủ