extends layout

block b1
  .container
    .error-wrapper
      .cs-auth-title.mdc-typography--button 404 Error
      h1.mdc-typography--headline4 Không tìm thấy trang này
      div.material-icons.text-center.d-block.errorIcon error
      a.mdc-button.mdc-button--unelevated(href="/") Homepage