extends layout

block b1
  if (currentUser)
    a(href="/blog/edit/" + blog._id) Edit this blog
  .card.m-2
    .card-header.font-weight-bold= blog.title
    .card-body
      h6.card-subtitle.mb-2.text-muted= blog.time
      .card-text.markdown-body!= blog.content