extends layout

block b1
  style.
    footer.main-footer {
      display: none;
    }
    .app-fab--absolute {
      display: none !important;
    }
  form.cs-post-create-wrapper(action="/blog/edit/" + blog._id, method="POST")
    .cs-post-create-preview
      .cs-auth-title.mdc-typography--button Xem trước
      .cs-preview.markdown-body#preview

    .cs-post-create-main
      .mdc-typography--button Nội dung bài đăng
      .mdc-text-field.mdc-text-field--textarea
        textarea#content.mdc-text-field__input(required="true", name="content")= blog.content
        .mdc-notched-outline
          .mdc-notched-outline__leading
          .mdc-notched-outline__notch
            label.mdc-floating-label Content 
          .mdc-notched-outline__trailing

    .cs-post-create-conf
      .cs-post-conf-wrapper
        .mdc-typography--button Các thông tin
        .mdc-text-field.mdc-text-field--outlined
          input.mdc-text-field__input(type="text", required="true", name="title", maxlength="200", value=blog.title)
          .mdc-notched-outline
            .mdc-notched-outline__leading
            .mdc-notched-outline__notch
              label.mdc-floating-label Title 
            .mdc-notched-outline__trailing
        .mdc-text-field-helper-line
          .mdc-text-field-character-counter

      button.mdc-button.mdc-button--unelevated(type="submit") Update

  script(src="//twemoji.maxcdn.com/2/twemoji.min.js?12.0.0")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it-emoji/1.4.0/markdown-it-emoji.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it-emoji/1.4.0/markdown-it-emoji-light.min.js")