extends layout

block b1
  each user in users
    .card.m-2
      .card-body
        h5.card-title= user.name() 
        p.card-text= user.bio 
        a.card-link(href='/users/' + user.username) More infomation
