extends layout

block b1
  each user in users
    .card.m-2
      .card-body
        a(href='/users/' + user.username)
          h5.card-title= user.name() 
        if (user.bio)
          p.card-text= user.bio 
