extends layout
include mixins/post.pug

block b1
  link(rel="stylesheet", href="/css/home.css")
  .cs-large-panel.mdc-theme--primary-bg
    .cs-large-panel-detail
      i.material-icons.cs-large-img create
      .mdc-typography--overline Share your experiences
    .cs-large-panel-action
      if (currentUser)
        a#btnMenuCaNhan.mdc-button.cs-button-white(style="margin: 0", href="/blog/add") Share a thought
      else
        a.mdc-button.mdc-button--raised.cs-button(href="/signin") Login
        a.mdc-button.mdc-button--raised.cs-button(href="/signup") Register

  .cs-home-wrapper
    .cs-category-highlight
      each category in categories
        a.mdc-ripple-surface.category-item-wrapper.mdc-theme--primary-bg.mdc-theme--text-primary-on-dark.mdc-elevation--z3(href='/category/' + category.nameId, style="background-image: url(" + category.urlImage + ")")
          .mdc-typography--headline5= category.name
          .mdc-typography--overline= category.description
    .cs-top-post-highlight
      +renderPost(blogs)

  .cs-home-footer
    a.mdc-button.mdc-button--raised(href="/blog") Explore
