<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= !title ? "Quang Huy" : title
    script(src="https://unpkg.com/core-js-bundle/index.js")
    link(rel="stylesheet", href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.2/markdown-it.js")
    script(src="//twemoji.maxcdn.com/2/twemoji.min.js?12.0.0")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js")
    script(src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@1")
    script(src="/javascript/dist/MDC.js")

  body
    .drawer-frame-app-content
      header#app-bar.mdc-top-app-bar.mdc-top-app-bar--fixed.mdc-elevation--z5.app-bar
        .mdc-top-app-bar__row
          section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-start
            button.mdc-top-app-bar__navigation-icon.mdc-icon-button.material-icons.mdc-top-app-bar__navigation-icon--unbounded menu
            a.mdc-button.mdc-button--unelevated.mdc-top-app-bar__title.nav-logo(href="/") Learn About Me
            if (currentUser && currentUser.role === 'admin')
              a.mdc-button.cs-button-white.hidden-mobile(href="/blog/manage/category") Management

          section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-end
            button#btnSearch.mdc-button.mdc-button--unelevated Search
            
          
      .mdc-top-app-bar--fixed-adjust
        .drawer-frame-root
          aside.mdc-drawer(style="z-index: 3; visibility: hidden")
            .mdc-drawer__header(style="border-bottom: 1px solid rgba(0,0,0,.12); padding-bottom: 0.5rem")
              if (currentUser)
                h3.mdc-drawer__title= currentUser.name()
                h6.mdc-drawer__subtitle Thông tin cá nhân
              else 
                h3.mdc-drawer__title Chưa đăng nhập
                h6.mdc-drawer__subtitle Đăng nhập để tùy chỉnh thông tin

            .mdc-drawer__content
              nav#menu-list.mdc-list

                if (currentUser)
                  a.mdc-list-item.cs-new-post-drawer.mdc-elevation--z2(href='/blog/add')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') add
                    span.mdc-list-item__text.mdc-typography--button New Post

                a.mdc-list-item.mdc-list-item--activated(href='/')
                  i.material-icons.mdc-list-item__graphic(aria-hidden='true') home
                  span.mdc-list-item__text Home
                a.mdc-list-item(href='/users', aria-current='page')
                  i.material-icons.mdc-list-item__graphic(aria-hidden='true') face
                  span.mdc-list-item__text User List
                a.mdc-list-item(href='/blog')
                  i.material-icons.mdc-list-item__graphic(aria-hidden='true') insert_drive_file
                  span.mdc-list-item__text All Post
                a.mdc-list-item(href='#')
                  i.material-icons.mdc-list-item__graphic(aria-hidden='true') chat
                  span.mdc-list-item__text Chat Room

                hr.mdc-list-divider

                h6.mdc-list-group__subheader Cá nhân
                if (currentUser)
                  a.mdc-list-item(href='/blog/yourpost')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') insert_drive_file
                    span.mdc-list-item__text Your Post
                  a.mdc-list-item(href='/blog/privatepost')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') lock
                    span.mdc-list-item__text Unpublished
                  a.mdc-list-item(href='/users/' + currentUser.username)
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') person
                    span.mdc-list-item__text Profile
                  a.mdc-list-item(href='/logout')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') subdirectory_arrow_left
                    span.mdc-list-item__text Logout
                else 
                  a.mdc-list-item(href='/signin')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') subdirectory_arrow_right
                    span.mdc-list-item__text Sign in
                  a.mdc-list-item(href='/signup')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') person_add
                    span.mdc-list-item__text Sign up
          .mdc-drawer-scrim

          .main-content(style="visibility: hidden")
            each error in errors
              .mdc-snackbar
                .mdc-snackbar__surface
                  .mdc-snackbar__label(role="status")= error
                  .mdc-snackbar__actions
                    button.mdc-button.mdc-snackbar__action Close

            each info in infos
              .mdc-snackbar
                .mdc-snackbar__surface
                  .mdc-snackbar__label(role="status")= info
                  .mdc-snackbar__actions
                    button.mdc-button.mdc-snackbar__action Close

            #main-content.user-wrapper
              block b1

    //- footer.main-footer.mdc-typography--button Quang Huy

    include mixins/searchDialog.pug

    if (currentUser)
      a.mdc-fab.app-fab--absolute(href="/blog/add")
        span.mdc-fab__icon.material-icons create
        
    script(src='/javascript/dist/script.js')
