<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= !title ? "Quang Huy" : title
    link(rel="stylesheet", href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.2/markdown-it.js")
    script(src="/javascript/polyfill/old.js")
    script(src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@1")
    script(src="//twemoji.maxcdn.com/2/twemoji.min.js?12.0.0")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js")
    script(src="/javascript/MDC.js")

  body
    header.mdc-top-app-bar.mdc-top-app-bar--fixed.mdc-elevation--z5(style="z-index: 2000;")
      .mdc-top-app-bar__row
        section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-start
          a.mdc-button.mdc-button--unelevated.mdc-top-app-bar__title.nav-logo(href="/") Learn About Me
          a.mdc-button.mdc-button--unelevated(href="/users") User
          a.mdc-button.mdc-button--unelevated(href="/blog") Blog
          if (currentUser)
            a.mdc-button.cs-button-white.hidden-mobile(href="/blog/add") New Post
            if (currentUser.role === 'admin')
              a.mdc-button.cs-button-white.hidden-mobile(href="/blog/manage/category") Management
        section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-end
          button#btnSearch.mdc-button.mdc-button--unelevated Search
          if (currentUser)
            .menu-wrapper
              button#btnMenuCaNhan.mdc-button.cs-button-white= currentUser.name()
              .mdc-menu-surface--anchor
                .mdc-menu.mdc-menu-surface.cs-menu-ca-nhan(style="margin-left: 0.5rem;")
                  ul.mdc-list(role="menu")
                    a.mdc-list-item(role="menuitem", href="/blog/yourpost")
                      span.mdc-list-item__text Your post
                    a.mdc-list-item(role="menuitem", href="/blog/privatepost")
                      span.mdc-list-item__text Private post
                    a.mdc-list-item(role="menuitem", href='/users/' + currentUser.username)
                      span.mdc-list-item__text Profile
                    a.mdc-list-item(role="menuitem", href="/logout")
                      span.mdc-list-item__text Logout
          else 
            a.mdc-button.mdc-button--unelevated(href="/signin") Login
            a.mdc-button.mdc-button--unelevated(href="/signup") Register
        
    .mdc-top-app-bar--fixed-adjust
      each error in errors
        .mdc-snackbar
          .mdc-snackbar__surface
            .mdc-snackbar__label(role="status")= error
            .mdc-snackbar__actions
              button.mdc-button.mdc-snackbar__action Close

      each info in infos
        .mdc-snackbar
          .mdc-snackbar__surface
            .mdc-snackbar__label(role="status")= info
            .mdc-snackbar__actions
              button.mdc-button.mdc-snackbar__action Close

      .user-wrapper
        block b1

    footer.main-footer.mdc-typography--button Quang Huy

    include mixins/searchDialog.pug

    if (currentUser)
      a.mdc-fab.app-fab--absolute(href="/blog/add")
        span.mdc-fab__icon.material-icons create
        
    script(src='/javascript/script.js')