<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= !title ? "Quang Huy" : title
    link(rel="stylesheet", href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js")
    script(src="/javascript/MDC.js")

  body
    header.mdc-top-app-bar.mdc-top-app-bar--fixed.mdc-elevation--z5
      .mdc-top-app-bar__row
        section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-start
          a.mdc-button.mdc-button--unelevated.mdc-top-app-bar__title.nav-logo(href="/") Learn About Me
          a.mdc-button.mdc-button--unelevated(href="/blog") Blog
          if (currentUser)
            a.mdc-button.mdc-button--unelevated(href="/blog/yourpost") Your Post
            a.mdc-button.cs-button-white(href="/blog/add") New Post
            if (currentUser._id.toString() === "5c8bc203d469c2001758986a")
              a.mdc-button.cs-button-white(href="/blog/manage/category") Management
        section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-end
          button#btnSearch.mdc-button.mdc-button--unelevated Search
          if (currentUser)
            a.mdc-button.mdc-button--unelevated(href='/users/' + currentUser.username) Hello, #{currentUser.name()}
            a.mdc-button.mdc-button--unelevated(href="/logout") Logout
          else 
            a.mdc-button.mdc-button--unelevated(href="/signin") Login
            a.mdc-button.mdc-button--unelevated(href="/signup") Register
        
    .mdc-top-app-bar--fixed-adjust
      each error in errors
        .mdc-snackbar
          .mdc-snackbar__surface
            .mdc-snackbar__label(role="status")= error
            .mdc-snackbar__actions
              button.mdc-button.mdc-snackbar__action Close

      each info in infos
        .mdc-snackbar
          .mdc-snackbar__surface
            .mdc-snackbar__label(role="status")= info
            .mdc-snackbar__actions
              button.mdc-button.mdc-snackbar__action Close

      .user-wrapper
        block b1

    footer.main-footer.mdc-typography--headline5 Quang Huy

    .mdc-dialog.search
      form.mdc-dialog__container(action="/blog/search")
        .mdc-dialog__surface
          h2.mdc-dialog__title Search
          .mdc-dialog__content.search-content
            .mdc-text-field.mdc-text-field--outlined
              input.mdc-text-field__input(type="text", required="true", name="q")
              .mdc-notched-outline
                .mdc-notched-outline__leading
                .mdc-notched-outline__trailing
          footer.mdc-dialog__actions
            button.mdc-button.mdc-dialog__button(data-mdc-dialog-action="close") Cancel
            button.mdc-button.mdc-dialog__button(type="submit") Search
      .mdc-dialog__scrim
        
      script(src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.2/markdown-it.js")
      script(src='/javascript/script.js')