extends layout

block b1
  style.
    footer.main-footer {
      display: none;
    }
  mixin renderButton(href, nameO, nameDis, icon) 
    a.mdc-button.obj-item(href=href, class=((nameObj === nameO) ? 'mdc-button--unelevated' : ''))
      i.material-icons.mdc-button__icon= icon
      = nameDis

  .cs-manage-wrapper
    .cs-manage-object
      .cs-management-title.mdc-typography--button Managemnet
      +renderButton("/blog/manage/category", 'category', 'Categories', 'category')
      +renderButton("/blog/manage/tag", 'tags', 'Tags', 'local_offer')

    .cs-manage-list 
      block list
    .cs-manage-content
      block content

  block js