extends layout

block b1
  .container.mb-3
    #spanNewBlog.text-center-cus New POST
    .row
      .col-3
      .col-6
        .input-group
          input#inputTitleLamMau.form-control.mr-2(type="text", placeholder="Input title...", required="true", maxlength="100")
          button#btnLamMau.btn.btn-primary Post
  .container
    .row
      .col-6(style="padding-right: 0.5rem")
        form(action="/blog/add" method="POST")
          input#inputTitleForm.form-control(type='hidden', name="title", required="true")
          textarea#content.form-control(placeholder='Nhập nội dung...', required="true", name="content", rows=15)
          button#btnForm.btn.btn-primary.d-none(type='submit') Đăng

      .col-6(style="padding-left: 0.5rem")
        #preview.markdown-body

  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
  script(src="/javascript/newBlog.js")