extends layout

block b1
  .container
    form.cs-edit-wrapper(action="/change-password", method="post")
      .cs-glo-title.mdc-typography--button Change your password

      .mdc-text-field.mdc-text-field--outlined(style="margin-top: 1rem")
        input.mdc-text-field__input(type="password", name="oldPassword", placeholder="Old Password")
        .mdc-notched-outline
          .mdc-notched-outline__leading
          .mdc-notched-outline__notch
            label.mdc-floating-label Old Password
          .mdc-notched-outline__trailing
        
      .mdc-text-field.mdc-text-field--outlined
        input.mdc-text-field__input(type="password", name="newPassword", placeholder="New Password")
        .mdc-notched-outline
          .mdc-notched-outline__leading
          .mdc-notched-outline__notch
            label.mdc-floating-label New Password
          .mdc-notched-outline__trailing

      .mdc-text-field.mdc-text-field--outlined
        input.mdc-text-field__input(type="password", name="retypePassword", placeholder="New Password")
        .mdc-notched-outline
          .mdc-notched-outline__leading
          .mdc-notched-outline__notch
            label.mdc-floating-label Retype Password
          .mdc-notched-outline__trailing

      button.mdc-button.mdc-button--unelevated(type='submit') Update