.mdc-list.mdc-list--two-line
  a.mdc-list-item(href="/edit")
    span.mdc-list-item__graphic.material-icons person
    span.mdc-list-item__text
      span.mdc-list-item__primary-text Basic
      span.mdc-list-item__secondary-text Thay đổi các thông tin cơ bản
  a.mdc-list-item(href="/change-password")
    span.mdc-list-item__graphic.material-icons lock
    span.mdc-list-item__text
      span.mdc-list-item__primary-text Password
      span.mdc-list-item__secondary-text Thay đổi mật khẩu