extends layout

block b1
  form(action="/signup" method="POST")
    .form-group
      label(for='exampleInputEmail1') User name
      input#exampleInputEmail1.form-control(type='text', placeholder='Enter email', required="true", autofocus="true", name="username")
      small.form-text.text-muted We'll never share your email with anyone else.
    .form-group
      label(for='exampleInputPassword1') Password
      input#exampleInputPassword1.form-control(type='password', placeholder='Password', required="true", name="password")
    button.btn.btn-primary(type='submit') Sign up
