extends layout

block b1
  .container.cs-auth-center-wrapper
    form.cs-auth-wrapper(action="/signin" method="POST")
      .cs-auth-title.mdc-typography--button ĐĂNG NHẬP
      .cs-textfield-form
        .mdc-text-field.mdc-text-field--outlined
          input.mdc-text-field__input(type="text", required="true", autofocus="true", name="username")
          .mdc-notched-outline
            .mdc-notched-outline__leading
            .mdc-notched-outline__notch
              label.mdc-floating-label Email 
            .mdc-notched-outline__trailing

        .mdc-text-field.mdc-text-field--outlined
          input.mdc-text-field__input(type="password", required="true", name="password")
          .mdc-notched-outline
            .mdc-notched-outline__leading
            .mdc-notched-outline__notch
              label.mdc-floating-label Password
            .mdc-notched-outline__trailing

      .cs-auth-action
        .spacer
        button.mdc-button.mdc-button--unelevated(type='submit') Login
