extends layout

block b1
  .container.cs-auth-center-wrapper
    form.cs-auth-wrapper(action="/signup" method="POST")
      .cs-auth-title.mdc-typography--button ĐĂNG KÍ
      .cs-textfield-form
        .mdc-text-field.mdc-text-field--outlined
          input.mdc-text-field__input(type="text", required="true", autofocus="true", name="username", value=errorInfo ? errorInfo.username : '')
          .mdc-notched-outline
            .mdc-notched-outline__leading
            .mdc-notched-outline__notch
              label.mdc-floating-label Email 
            .mdc-notched-outline__trailing
        if (error && error.name)
          .mdc-text-field-helper-line
            .mdc-text-field-helper-text.mdc-text-field-helper-text-error= error.name

        .mdc-text-field.mdc-text-field--outlined(style="margin-bottom: 0")
          input.mdc-text-field__input(type="password", required="true", name="password", value=errorInfo ? errorInfo.password : '')
          .mdc-notched-outline
            .mdc-notched-outline__leading
            .mdc-notched-outline__notch
              label.mdc-floating-label Password
            .mdc-notched-outline__trailing
        if (error && error.password)
          .mdc-text-field-helper-line
            .mdc-text-field-helper-text.mdc-text-field-helper-text-error= error.password

        .mdc-form-field
          .mdc-checkbox
            input#ckbDieuKhoan.mdc-checkbox__native-control(type="checkbox", name="",required="true")
            .mdc-checkbox__background
              svg.mdc-checkbox__checkmark(viewBox="0 0 24 24")
                path.mdc-checkbox__checkmark-path(fill="none", d="M1.73,12.91 8.1,19.28 22.79,4.59")
              .mdc-checkbox__mixedmark
          label(for="ckbDieuKhoan") Chấp nhận điều khoản

      .cs-auth-action
        .spacer
        button.mdc-button.mdc-button--unelevated(type='submit') Register

