extends layout

block b1
  .wrap.d-flex.justify-content-center.mt-5
    .card(style="width: 500px")
      .card-body
        .text-center-cus ĐĂNG KÍ
        form(action="/signup" method="POST")
          .form-group
            label(for='exampleInputEmail1') User name
            input#exampleInputEmail1.form-control(type='text', placeholder='Enter email', required="true", autofocus="true", name="username")
            small.form-text.text-muted We'll never share your email with anyone else.
          .form-group
            label(for='exampleInputPassword1') Password
            input#exampleInputPassword1.form-control(type='password', placeholder='Password', required="true", name="password")
          .custom-control.custom-checkbox
            input#ckbDieuKhoan.custom-control-input(type="checkbox", required="true")
            label.custom-control-label(for="ckbDieuKhoan") Chấp nhận điều khoản
          .d-flex.justify-content-center
            button.btn.btn-primary(type='submit') Sign up
