:root {
  --mdc-theme-primary: #398791;
  --mdc-theme-secondary: #6fa4a7;
  --mdc-theme-error: #f86f7b;
  --mdc-theme-background: #398791;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(57, 136, 146, 0.562);
  border-radius: 4px;
}

/* Old MS browser fix */
/* Nút unelevated khi click còn màu cũ */
/* .mdc-button:not(.mdc-button--unelevated)::before, .mdc-button:not(.mdc-button--unelevated)::after {
   background-color: var(--mdc-theme-primary, #6200ee);
} */

/* list */
:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item--selected::before, :not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item--selected::after {
  background-color: var(--mdc-theme-primary, #398791);
}

:not(:disabled).mdc-button--raised, :not(:disabled).mdc-button--unelevated {
	background-color: var(--mdc-theme-primary, #398791);
}
/* End */

/* User wrapper */
.user-wrapper {
  margin-top: 1.5rem;
  min-height: calc(100vh - 64px - 50px - 1.5rem);
}
/* End */

#btnMenuCaNhan {
  max-width: 250px;
}

footer.main-footer {
  height: 50px;
  background-color: var(--mdc-theme-primary, #398791);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  word-spacing: 5px;
}

.nav-logo {
  padding-left: inherit;
  padding-right: inherit;
}

.container {
  margin: 0 6rem;
}

.mdc-chip-set {
  overflow: auto;
}

/* Mobile css */
@media only screen and (max-width: 599px) {
  .container {
    margin: 0 1rem;
  }

  .mdc-top-app-bar__row {
    flex-direction: column;
    min-height: 56px;
    height: auto;
  }

  .mdc-top-app-bar__section--align-end {
    justify-content: center;
  }

  .hidden-mobile {
    display: none;
  }

  /* fab */
  .app-fab--absolute {
    display: flex !important;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--mdc-theme-primary, #398791);
  }

  .user-wrapper {
    margin-top: 3rem;
    min-height: calc(100vh - 64px - 50px - 2.5rem);
  }

  /* Post create, edit */
  .cs-post-create-preview {
    display: none;
  }

  .cs-post-create-wrapper {
    flex-direction: column-reverse !important;
    height: initial !important;
  }

  .cs-post-create-main, .cs-post-create-conf {
    width: initial !important;
  }

  .cs-post-create-conf {
    height: initial !important;
  }

  .profile-wrapper .cs-setting-recent-wrapper {
    flex-direction: column-reverse !important;
  }
  
  .profile-wrapper .setting-wrapper {
    margin-left: 0rem !important;
  }

  .cs-edit-wrapper {
    margin: 0 !important;
  }
}

.cs-glo-title {
  font-size: 20px;
}

/* fab */
.app-fab--absolute {
  text-decoration: none;
  display: none;
}

/* Nav */
.mdc-top-app-bar__row {
  min-height: 64px;
  height: auto;
}
/* End Nav */

/* Card */
.cs-card-header {
  padding: 0 0 0 0;
}

.cs-card__media_size::before {
  margin-top: 20%;
}

.cs-no-bg .cs-card__title {
  color: black;
}

.cs-no-bg .cs-card__subtitle {
  color: rgba(0,0,0,.54)
}

.cs-has-bg .cs-card__title {
  color: #fff;
}

.cs-has-bg .cs-card__subtitle {
  color: #fff;
}

.cs-card__content {
  padding: 1rem;
  display: block;
}

.cs-card__title {
  margin: 0;
  padding: 1rem 1rem 0rem 1rem;
}

.cs-card__subtitle {
  color: rgb(255, 255, 255);
  margin: 0rem 0 0rem 1rem;
}

.cs-card-user {
  margin-bottom: 0;
}

.cs-card {
  margin-bottom: 1rem;
  margin-top: 8px;
}
/* end Card */

/* Pin */
.pinTag-active {
  color: var(--mdc-theme-error, #f86f7b) !important;
}

.pinTag {
  color: var(--mdc-theme-primary, #398791);
}
/* End Pin */

/* Button New Post */
.cs-button-white {
  background-color: #fff !important;
  margin-left: 0.5rem;
}
/* End Button new post */

/* pagination */
.pagination-wrapper {
  text-align: center;
  margin-bottom: 0.7rem;
}

.pagination-wrapper .mdc-button {
  margin: 0.5rem 0rem;
  /* width: 60px; */
}

.pagination-wrapper .middle-button {
  border-right: none;
  border-radius: 0;
}

.pagination-wrapper .last-button {
  border-radius: 0;
}

.pagination-wrapper .mdc-button .mdc-button__icon {
  margin-right: 0;
}
/* End pagination */

/* User card */
.user-card.cs-card__title {
  font-size: 30px;
}

.cs-image {
  width: 110px;
  background-image: url(https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg);
}

.cs-main-title {
  display: flex;
  flex-direction: row
}

.user-card-wrapper {
  display: flex;
  flex-direction: column;
}

.user-card-wrapper .cs-card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* End */

/* Post detail */
.post-detail-wrapper {
  display: flex;
  padding: 0 1rem;
  /* background-color: var(--mdc-theme-primary, #398791); */
  margin-top: -1.5rem;
  z-index: 50;
  position: relative;
}

.post-detail-wrapper .menu-wrapper {
  align-self: center;
}

.post-detail-title-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 0.7rem;
}

.post-detail-title-wrapper .post-detail-title {
  color: #fff;
  margin-bottom: 0.5rem;
}

.post-detail-title-wrapper .post-detail-subtitle {
  margin-top: 0;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.651);
}

.post-detail-title-wrapper .mdc-chip-set {
  margin-left: -10px;
}

.cs-post-title-wrapper-outer {
  position: relative;
}

.cs-post-title-wrapper-outer .cs-post-title-overlay {
  position: absolute;
  background-color: black;
  opacity: 0.2;
  z-index: 49;
  width: 100%;
  height: 100%;
  top: 0;
}

.cs-post-title-wrapper-outer .cs-post-title-background {
  position: absolute;
  background-size: 120%;
  background-position: 20%;
  z-index: 48;
  width: 100%;
  height: 100%;
  top: 0;
}

.post-detail-title-wrapper .mdc-chip {
  background-color: var(--mdc-theme-secondary, #6fa4a7);
  color: rgb(255, 255, 255);
  opacity: 0.8;
}

.post-detail-content {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

#post-detail-action {
  color: #fff !important;
}

.cs-post-detail-property {
  margin: 1rem 6rem;
  border: 1px solid rgba(0, 0, 0, 0.28);
  border-radius: 4px;
  padding: 0.5rem;
}

.cs-post-detail-property .cs-title {
  text-transform: capitalize;
}

.cs-tag {
  background-color: var(--mdc-theme-primary, #398791);
  padding: 4px;
  margin: 2px;
  border-radius: 4px;
  color: #fff;
}
/* End */

/* Auth */
.cs-auth-center-wrapper {
  height: calc(100vh - 64px - 50px - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cs-auth-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 4px;
  padding: 1.5rem;
  margin: 0 auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 64px - 50px - 7rem); */
  justify-content: center;
}

.cs-auth-wrapper .cs-auth-title {
  text-align: center;
  font-size: 30px;
}

.cs-auth-wrapper .cs-auth-title {
  margin-bottom: 0.5rem;
}

.cs-auth-wrapper .cs-textfield-form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.cs-auth-wrapper .cs-textfield-form .mdc-text-field {
  margin-bottom: 1rem;
}

.cs-auth-wrapper .cs-auth-action {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.mdc-text-field--focused .mdc-floating-label--float-above,
.mdc-select--focused .mdc-floating-label--float-above {
  color: var(--mdc-theme-primary, #398791) !important;
}
/* End Auth */

/* Post create */
.cs-post-create-wrapper {
  margin-top: -1.5rem;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: row-reverse;
}

.cs-post-create-wrapper .cs-post-create-conf {
  width: 300px;
  height: calc(100vh - 64px - 1rem);
  padding: 0.5rem;
}

.cs-post-create-wrapper .mdc-text-field {
  width: 100%;
}

.cs-post-create-wrapper .cs-post-create-main {
  width: calc((100% - 300px) / 2);
  padding: 0.5rem;
}

.cs-post-create-wrapper .cs-post-create-conf {
  display: flex;
  flex-direction: column;
}

.cs-post-create-wrapper .cs-post-create-conf .cs-post-conf-wrapper {
  flex-grow: 1;
}

.cs-post-conf-wrapper .mdc-text-field {
  margin-bottom: 0.5rem;
}

.cs-post-create-wrapper .cs-post-create-conf button {
  margin-top: 0.5rem;
}

.cs-post-create-wrapper .cs-post-create-main textarea {
  height: calc(100vh - 64px - 1.5rem - 36px);
  resize: none;
}

.cs-post-create-wrapper .cs-post-create-preview {
  width: calc((100% - 300px) / 2);
  padding-top: 0.5rem;
}

.cs-post-create-wrapper .cs-post-create-preview .cs-preview {
  margin: 0.5rem;
  margin-top: 0;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.24);
  height: calc(100vh - 64px - 2.1rem - 36px);
  padding: 0.5rem;
  overflow-y: auto;
}

.cs-post-create-wrapper .cs-image-preview-wrapper {
  position: relative;
  width: 100%;
  height: 150px;
  border: 1px solid rgba(0,0,0,.24);
  border-radius: 4px;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cs-post-create-wrapper .cs-image-preview-text-wrapper {
  position: absolute;
  z-index: 49;
}

.cs-post-create-wrapper .cs-image-preview {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 120%;
  background-position: 20%;
  z-index: 50;
}
/* End Post create */

/* Search */
.mdc-dialog__content.search-content .mdc-text-field {
  width: 100%;
}
/* End */

/* Edit */
.cs-edit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4rem;
}

.cs-edit-wrapper .mdc-text-field {
  width: 100%;
  margin-bottom: 1rem;
  /* align-self: flex-start; */
}

.cs-edit-wrapper #bio-editor {
  width: 100%;
  height: 150px;
}
/* End */

/* 404 */
.error-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: calc(100vh - 64px - 50px - 7rem);
}
.errorIcon {
  font-size: 100px !important;
  color: var(--mdc-theme-primary, #398791);
  margin-bottom: 1rem;
}
/* End */

/* Profile page */
.profile-wrapper {
  display: flex;
  flex-direction: row;
}

.profile-wrapper .cs-setting-recent-wrapper {
  display: flex;
  flex-direction: row;
}

.post-rencent-wrapper {
  flex-grow: 1;
}

.profile-wrapper .setting-wrapper {
  margin-left: 1rem;
}

.profile-wrapper .main-wrapper {
  flex-grow: 1;
}
/* End */

/* Management */
.cs-manage-wrapper {
  margin-top: -1rem;
  height: calc(100vh - 64px - 0.5rem);
  display: flex;
  flex-direction: row;
}

.cs-manage-object {
  width: 200px;
  height: calc(100vh - 64px - 1.5rem);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.cs-manage-object .obj-item {
  margin-bottom: 0.5rem;
  justify-content: flex-start;
  padding: 0 16px 0 16px;
}

.cs-manage-wrapper .cs-management-title {
  font-size: 20px;
  align-self: center;
  margin: 1rem 0;
}

.cs-manage-list {
  width: 300px;
  height: calc(100vh - 64px - 1.5rem);
  padding: 0.5rem;
  background-color: rgba(247, 247, 247, 0.761);
}

.cs-manage-content {
  flex-grow: 1;
  height: calc(100vh - 64px - 1.5rem);
  padding: 0.5rem
}

.cs-manage-content .cs-manage-content-textfield-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px - 1.5rem - 36px);
}

.cs-manage-content .cs-manage-content-textfield-wrapper .mdc-text-field {
  margin-bottom: 1rem;
}

.cs-manage-content .cs-manage-content-text {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px - 1rem);
}

.cs-manage-content .cs-manage-content-action {
  align-self: flex-end;
}

.cs-manage-list .cs-list-action {
  display: flex;
}

.cs-manage-list .cs-list-action button {
  margin-left: 0.5rem;
}

.cs-manage-content .cs-manage-content-action button {
  margin-left: 0.5rem;
}

.cs-manage-content-text .mdc-text-field--textarea {
  height: calc(100% - 168px - 3rem);
}
/* End management */

/* Emoji */
.emoji {
  height: 1.2em;
  vertical-align: text-top;
}
/* End */

/* Tab */
.tab-content--active {
  display: block !important;
}

.tab-container .tab-content {
  display: none;
  padding: 1rem 1rem 0rem 1rem;
  /* min-height: 200px; */
}

.search-filter-wrapper {
  display: flex;
  flex-direction: column;
}

.search-filter-wrapper .mdc-text-field:not(:last-child) {
  margin-bottom: 1rem;
}

.cs-search-action {
  display: flex;
  flex-direction: row;
}
/* End Tab */

/* Blog List */

.cs-blog-wrapper {
  display: flex;
  justify-content: baseline;
}

.cs-blog-wrapper .cs-blog-list-wrapper {
  flex-grow: 1;
}

.cs-blog-wrapper > div:not(:last-child) {
  margin-right: 1rem;
}

.cs-blog-wrapper .category-item-wrapper {
  margin-bottom: 1rem;
  /* padding: 3rem 4rem;  */
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-size: 130%;
  background-position-y: 20%;
  text-align: center;
  min-width: 200px;
}

.cs-category-wrapper-1 {
  width: 30%;
}

@media only screen and (max-width: 599px) {
  .cs-blog-wrapper {
    flex-direction: column-reverse;
  }

  .cs-blog-wrapper .cs-blog-category-wrapper {
    /* flex-direction: row; */
    display: inline-flex;
    overflow: auto;
    /* min-width: calc(300px * 3); */
  }

  .cs-blog-wrapper > div:not(:last-child) {
    margin-right: 0;
  }

  .cs-category-wrapper-1 {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
  }

  .cs-blog-wrapper .category-item-wrapper:not(:last-child) {
    margin-right: 1rem;
  }

  .cs-blog-wrapper .category-item-wrapper {
    padding: 2rem 4rem;
  }

  .cs-category-wrapper-2 {
    overflow: auto;
  }

  .cs-blog-wrapper .category-item-wrapper {
    margin-bottom: 0.2rem;
    /* min-width: 100px; */
  }
}
/* End */

/* Category page */
.cs-category-preview {
  margin-top: -1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 150px; */
  padding: 4rem 0;
  color: #fff;
  background-size: 120%;
  background-position: 20%;
  text-align: center;
  margin-bottom: 1rem;
}

.cs-category-preview .cs-glo-title {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 0.5rem;
  line-height: 1;
}

.cs-category-preview .cs-subtitle {
  letter-spacing: 5px;
}
/* End */